/* Importing colours.css to make variables available */

@import "colours.css";

/* ~~ START OF RESET ~~ */

Box sizing rules *,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ~~ END OF RESET ~~ */


/* ~~ START OF UTILS & GLOBALS ~~ */

body {
    font-family: inter, "sans-serif";
    font-size: 1rem;
    line-height: 1.5;
}

a{
    color: var(--lightGrey);
}

a:visited{
    color: var(--lightGrey);
}

a:hover {
    color: var(--white);
    text-decoration: underline;
}

.button{
    background-color: black;
    box-shadow: 0 5px 0 grey;
    color: white;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
}

.button:visited{
    background-color: black;
    box-shadow: 0 5px 0 grey;
    color: white;
}

.button:hover{
    background-color: white;
    box-shadow: 0 5px 0 black;
    color: black;
    cursor: pointer;
}

.flow *+* {
    margin-top: 1rem;
}

.f--source {
    font-family: 'Source Sans Pro', sans-serif;
}

.f--jet {
    font-family: 'JetBrains Mono', monospace;
}

.f--marker{
    font-family: 'Permanent Marker', cursive;
}

.w--light {
    font-weight: 300;
}

.w--regular {
    font-weight: 400;
}

/* ~~ END OF UTILS & GLOBALS ~~ */


/* ~~ START OF RESPONSIVE GRID ~~ */

/* Mobile */

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "nav nav nav"
    "main main main" 
    "footer footer footer";
    background: #eaeaea;
    grid-gap: 1rem;
}

.grid--home{
    background: url("../img/KiwiEdit.png") no-repeat center;
    background-position-y: 100px;
}

.grid--home, .grid--login{
    grid-template-columns: 1fr !important;
    grid-template-rows: auto 1fr !important;
    grid-template-areas:
        "header"
        "main";
    grid-gap: 0;
}

.grid--home >  header, .grid--login >  header{
    grid-area: header;
}

.grid--home >  main, .grid--login >  main{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr minmax(0, 600px) 1fr;
}

.grid--home >  footer, .grid--login >  footer{
    grid-area: 2/1/3/4;
}

aside,
article,
header,
footer {
    grid-column: 1 / 4;
}

article{
    padding: 0 1rem 0 1rem;
}

/* Desktop */

@media screen and (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 16% auto 16%;
        grid-template-rows: auto auto auto;
    }

    article {
        grid-column: 2 / 3;
        padding: 0;
    }
}


/* Nav Grid Mobile */

.nav_grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.nav_grid--fullwidth {
    grid-column: 1 / 4;
}

/* Nav Grid Desktop */

@media screen and (min-width: 1000px) {
    .nav_grid {
        grid-template-columns: 1fr repeat(4, min-content);
        grid-gap: 20px;
        justify-items: end;
    }

    .nav_grid--fullwidth {
        /* This will make that first Home column only extend from grid line 1 to grid line 2 (on desktop) */
        grid-column: 1 / 2;
        /* This will make Home column display on the left side of the screen (on desktop) */
        justify-self: start;
    }
}

/* ~~ END OF RESPONSIVE GRID ~~ */

.nav{
    background-color: var(--black);
}

.nav * {
    text-decoration: none;
}

.nav_title {
    font-size: 2rem;
    margin-left: 1rem;
}

.nav_title>a {
    color: var(--white);
}

.nav_title>a:visited {
    color: var(--white);
}

.nav_title>a:hover {
    color: var(--orange);
    text-decoration: none;
}

.nav_logo{
    margin-right: 0.5rem;
}

.nav_link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    line-height: 3rem;
}

.nav_link>a {
    color: var(--lightGrey);
}

.nav_link>a:visited {
    color: var(--lightGrey);
}

.nav_link>a:hover {
    color: var(--white);
}

.article {
    display: grid;
}

.section--home{
    grid-column: 1/4;
    padding: 28rem 0 20rem 0;
    background-image: url("/img/KiwiEdit.png");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.showcase{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.showcase--title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: slow-rotate 4s infinite;
}

.showcase--buttons-container{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.showcase--buttons{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.showcase--button_store, .showcase--button_login, .showcase--button_register{
    width: 5rem;
}

.showcase--button_store{
    grid-row: 1;
    grid-column: 2/4;
}

.showcase--button_login{
    grid-row: 2;
    grid-column: 1/3;
}

.showcase--button_register{
    grid-row: 2;
    grid-column: 3/5;
}

.showcase--buttons > .button{
    margin: 15px 0 0 0;
}

.showcase--button_store{
    color: var(--black);
    background-color: var(--lighterGrey);
    box-shadow: 0 5px 0 var(--darkGrey);
}

.showcase--button_store:visited{
    color: var(--black);
    background-color: var(--lighterGrey);
    box-shadow: 0 5px 0 var(--black);
}

.showcase--button_store:hover{
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 5px 0 var(--black);
}


.section--login_register{
    grid-column:2/3;
    padding: 12rem 2rem 12rem 2rem;
}

.showcase_card--login_register{
    background-color: var(--lighterGrey);
    border: 2rem solid black;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(600px - 8rem);
}

.showcase_card--title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.showcase_card--logo{
    font-size: 10rem;
    margin: 4rem 0 1rem 0;
    animation: yoyo 4s infinite;
}

@keyframes yoyo {
    0%{
        font-size: 11rem;
    }
    50%{
        font-size: 12rem;
    }
    100%{
        font-size: 11rem;
    }
}

.showcase_card--title h2{
    animation: yoyo-offset 4s infinite, slow-rotate 4s infinite;
}

@keyframes yoyo-offset {
    0%{
        margin-top: 1rem;
    }
    50%{
        margin-top: 0;
    }
    100%{
        margin-top: 1rem;
    }
}

@keyframes slow-rotate {
    0%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(2deg);
    }
}

.login--form, .register--form{
    display: flex;
    flex-direction: column;
}

.login--input, .register--input{
    margin: 1rem 0 0 0;
    padding: 0.5rem;
}

.register--form > textarea{
    min-width: 518px;
    max-width: 518px;
    min-height: 6rem;
    max-height: 12rem;
}

.login--button, .register--button{
    margin: 1rem 12rem;
}

.row_1 {
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    overflow: hidden;
}

.big_card--showcase {
    grid-row: 1/1;
    border: 0.5rem solid var(--softBlack);
}

.big_thumbnail--showcase {
    width: 100%;
    object-fit: cover;
}

.big_card--sale {
    grid-row: 2/2;
    border: 0.5rem solid var(--softBlack);
}

.big_thumbnail--sale {
    width: 100%;
    object-fit: cover;
}

/* Row 1 Desktop Media Queries */
@media screen and (min-width: 1000px) {
    .row_1 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .big_card--showcase {
        grid-column: 1/3;
        grid-row: 1/1;
    }

    .big_card--sale {
        grid-column: 3/4;
        grid-row: 1/1;
    }

    .big_thumbnail--sale {
        height: 100%;
        width: initial;
    }

    .section--home{
        padding: 32rem 0 24rem 0;
    }

    .showcase_card--title{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}

.row_2 {
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.row_2--card_section {
    grid-column: 1/1;
    grid-row: 1/1;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr auto 1fr;
}

.row_2--sub_row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.sub_row--heading{
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.sub_row_1{
    grid-row: 2/2;
}

.small_card {
    background-color: var(--softBlack);
    color: var(--white);
    border: 0.5rem solid var(--softBlack);
    grid-column: span 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.medium_thumbnail{
    height: 30vw;
    object-fit: cover;
}

.product_link--anchor{
    display: contents;
    text-align: center;
    color: var(--lightGrey);
}

.product_title {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 4vw;
    margin: 0.6vw;
}

.product_pricing {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    margin: 0 0.6vw 0.6vw 0.6vw;
    user-select: none;
}

.product_pricing a{
    text-decoration: none;
}

.product_pricing a:hover i{
    color: var(--lime);
}

.row_2--table_section {
    grid-column: 1/1;
    grid-row: 2/2;
    display: grid;
    grid-template-rows: auto repeat(10, auto);
    grid-gap: 1rem;
}

.table--buttons{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
}

.table--button{
    background-color: var(--softBlack);
    box-shadow: 0 5px 0 var(--darkGrey);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
}

.table--button:hover{
    background-color: var(--white);
    box-shadow: 0 5px 0 var(--softBlack);
    color: var(--softBlack);
    cursor: pointer;
}

.table_product {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    font-size: 3vh;
    background-color: var(--softBlack);
    color: var(--white);
    border: 0.5rem solid var(--softBlack);
}

.table_product>* {
    margin-right: 0.5rem;
}

.table_product_anchor {
    display: contents;
    color: var(--white);
}

.table_product_title {
    flex-grow: 1;
    margin-left: 1rem;
}

.table_product_title:hover {
    text-decoration: underline;
}

.table_product_thumbnail {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}

.table_product_title {
    align-self: center;
}

.table_product_pricing {
    align-self: center;
    text-align: right;
}

/* Row 2 Desktop Media Queries */
@media screen and (min-width: 1000px) {

    .row_2 {
        grid-row: 2/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr min-content;
        grid-gap: 1rem;
        margin-top: 1rem;
    }
    
    .row_2--card_section {
        grid-column: 1/4;
        display: grid;
        grid-template-rows: repeat(6, min-content);
        grid-gap: 1rem;
    }

    .medium_thumbnail{
        height: 10vw;
        object-fit: cover;
    }
    
    .row_2--sub_row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    
    .sub_row--heading{
      text-align: left;
      margin: 0;
    }

    .sub_row_2{
        align-self: center;
    }

    .product_title {
        font-size: 1rem;
    }

    .product_pricing {
        font-size: 1rem;
    }
    
    .product_discount--text{
        background-color: var(--white);
        color: var(--black);
        padding: 1px 8px 1px 2px;
    }
    
    .row_2--table_section {
        grid-column: 4/5;
        grid-row: 1/1;
        display: grid;
        grid-template-rows: 0.1fr repeat(10, 1fr);
    }

    .table--buttons{
        font-size: 1vw;
        justify-content: left;
        margin: 0;
    }

    .table--buttons > a{
        margin-right: 0.2rem;
    }

    .table_product{
        height: 4vw;
        font-size: 1rem;
        line-height: 1;
    }

    .table_product_pricing{
        font-size: 1rem;
        margin: 0 1rem 0 1rem;
    }

    .table_product_thumbnail{
        height: 4vw;
        width: 4vw;
    }
}

.row_3 {
    grid-row: 3/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.row_3--heading{
    grid-row: 1/1;
    text-align: center;
}

/* Row 3 Desktop Media Queries */
@media screen and (min-width: 1000px) {
    .row_3{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto repeat(4, 1fr);
    }

    .row_3--heading{
        grid-column: 1/5;
        text-align: left;
    }
}

.footer {
    padding: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem 0;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    text-align: center;
}

.footer--about_section {
    grid-row: 1/1;
    grid-column: 2/4;
}

.footer--about_bodytext {
    margin-top: 1rem;
}

.footer--links_section {
    grid-row: 2/2;
    grid-column: 2/4;
}

.footer--links_list {
    padding: 0;
    list-style-type: none;
}

.footer--link {
    text-decoration: none;
}

.footer--link:hover {
    text-decoration: underline;
}

.footer--social_section {
    grid-row: 3/3;
    grid-column: 2/4;
}

.footer--social_list {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    line-height: 0;
}

.footer--social_list>li {
    display: inline-block;
    list-style-type: none;
}

.footer--social:hover {
    color: var(--white);
    text-decoration: none;
}

.footer--copyright_section {
    margin-top: 2rem;
    grid-row: 4/4;
    grid-column: 2/4;
}

/* Footer Desktop Media Queries. */
@media screen and (min-width: 1000px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(5, 25%);
        grid-template-rows: 75% 25%;
        justify-items: left;
        text-align: left;
    }

    .footer--about_section {
        margin-top: -1rem;
        grid-row: 1/1;
        grid-column: 2/4;
    }

    .footer--links_section {
        grid-row: 1/1;
        grid-column: 4/5;
    }

    .footer--links_section {
        margin-left: 2rem;
    }

    .footer--copyright_section {
        grid-row: 2/2;
        grid-column: 2/4;
    }

    .footer--social_section {
        grid-row: 2/2;
        grid-column: 4/5;
        margin-top: -2rem;
        margin-left: 1.8rem;
    }

    .footer--social_list{
        font-size: 2rem;
    }
}

/* View Product Page */

.viewProduct-imageCard {
    grid-row: 2/2;
    border: 0.5rem solid var(--softBlack);
}

.viewProduct-imageCard--selected {
    width: 100%;
    object-fit: cover;
}

.viewProduct-infoCard {
    grid-row: 1/1;
    background-color: var(--softBlack);
    color: var(--white);
    border: 0.5rem solid var(--softBlack);
    grid-column: span 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewProduct-infoCard--cover {
    width: 100%;
    object-fit: cover;
}

.viewProduct-infoCard--pricing {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    user-select: none;
}

.viewProduct-infoCard--pricing a{
    text-decoration: none;
}

.viewProduct-infoCard--pricing a:hover i{
    color: var(--lime);
}

.viewProduct-infoCard--buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.viewProduct-infoCard--buttons *{
    text-decoration: none;
}

.viewProduct-infoCard--cartButton{
    background: var(--white);
    color: var(--black);
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}

.viewProduct-infoCard--cartButton:hover{
    color: var(--black);
}

.viewProduct-infoCard--cartButton:visited{
    color: var(--black);
}

.viewProduct-infoCard--wishlistButton{
    background: var(--darkGrey);
    color: var(--white);
    padding: 0.2rem;
}

.viewProduct-infoCard--wishlistButton:visited{
    color: var(--white);
}

.viewProduct-imageRow {
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr min-content;
    grid-template-rows: 1fr min-content;
    margin-top: 1rem;
}

.viewProduct-imageThumbnail--container{
    border: 0.3rem solid var(--softBlack);
}

.viewProduct-imageThumbnail1,
.viewProduct-imageThumbnail2,
.viewProduct-imageThumbnail3 {
    margin-right: 1rem;

}

.viewProduct-imageRow--thumbnail{
    height: 100%;
    width: 100%;
}

.viewProduct-infoRow{
    background: var(--softBlack);
    color: var(--white);
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 24vw 1fr 24vw;
    grid-gap: 1rem;
    padding: 2rem 0;
    text-align: center;
}

.infoRow-platform, .infoRow-os, .infoRow-genre{
    grid-column: 2;
}

.infoRow-description{
    grid-column: 2;
}

.infoRow-links{
    grid-column: 2;
}

.infoRow--heading{
    text-decoration: underline;
}

.infoRow-links *{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 0.2rem 0 0;
}

.infoRow-links i{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.infoRow--heading{
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 1000px) {
    .viewProduct-imageCard {
        grid-column: 1/3;
        grid-row: 1/1;
    }

    .viewProduct-infoCard {
        grid-column: 3/4;
        grid-row: 1/1;
    }

    .viewProduct-infoCard--pricing {
        font-size: 1rem;
    }

    .viewProduct-imageRow {
        grid-row: 2/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr min-content;
        margin-top: 1rem;
    }

    .viewProduct-infoRow{
        grid-template-columns: 16% repeat(4, 1fr) 16%;
        text-align: left;
    }

    .infoRow-platform, .infoRow-os, .infoRow-genre{
        grid-column: 2;
    }

    .infoRow-description{
        grid-column: 3/5;
        grid-row: 1/3;
    }

    .infoRow-links{
        grid-column: 5;
        grid-row: 1/3;
    }

    .infoRow-links--social_list *:hover{
        color: var(--white);
    }
}

/* Rating Row */

.viewProduct-ratingRow{
    margin: -1rem 0 1rem 0;
    grid-column: 1/4;
    padding: 0;
}

.ratingRow--container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto auto auto;
}

.ratingRow--inner {
    padding: 1em;
    overflow: hidden;
    position: relative;
    grid-column: 2/3;
    margin-left: 2rem;
}

.ratingRow--rating {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
}

.rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em;
}

.rating-stars {
    font-size: 20px;
    color: #E3E3E3;
    margin-bottom: .5em;
}

.activeStar {
    color: #737373;
}

.rating-users {
    font-size: 14px;
}

.histo {
    float: left;
    width: 50%;
    font-size: 13px;
}

.histo-star {
    float: left;
    padding: 3px;

}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 4px;
    display: block;
}

#bar-five {
    width: 8rem;
    background-color: #9FC05A;
}

#bar-four {
    width: 3rem;
    background-color: #ADD633;
}

#bar-three {
    width: 0.5rem;
    background-color: #FFD834;
}

#bar-two {
    width: 0.2rem;
    background-color: #FFB234;
}

#bar-one {
    width: 0.8rem;
    background-color: #FF8B5A;
}

/* User Reviews */

.review{
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-bottom: 2rem;
    background: var(--white);
    border-radius: 2rem;
    padding: 1rem;
}

.review:last-child{
    margin-bottom: 1rem;
}

.review--avatar-container{
    grid-column: 1;
    grid-row: 1/3;
}

.avatar--image{
    height: 3rem;
}

.review--name-container{
    grid-column: 2;
    grid-row: 1/2;
    font-size: 1rem;
}

.review--rating-container{
    grid-column: 2;
    grid-row: 2/3;
}

.review--rating-stars {
    font-size: 1.2rem;
    color: #E3E3E3;
    margin: .5em 0;
}

.review--date{
    font-size: 0.8rem;
}

.review--review-container{
    grid-column: 2;
    grid-row: 3/4;
    margin-top: 0.5rem;
    padding: 0 1rem 1rem 0;
}